<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button [color]="selectedWeightEntryChartStyle === weightEntryChartStyles.d7 ? 'secondary' : 'primary'"
                  (click)="set7DayChart()"
                  expand="block">7D</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [color]="selectedWeightEntryChartStyle === weightEntryChartStyles.d30 ? 'secondary' : 'primary'"
                  (click)="set30DayChart()"
                  expand="block">30D</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [color]="selectedWeightEntryChartStyle === weightEntryChartStyles.m6 ? 'secondary' : 'primary'"
                  (click)="set6MonthsChart()"
                  expand="block">6M</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [color]="selectedWeightEntryChartStyle === weightEntryChartStyles.y1 ? 'secondary' : 'primary'"
                  (click)="set1YearChart()"
                  expand="block">1Y</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [color]="selectedWeightEntryChartStyle === weightEntryChartStyles.all ? 'secondary' : 'primary'"
                  (click)="setAllChart()"
                  expand="block">All</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>
        <canvas #weightEntriesChart></canvas>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
