<ion-item-sliding #slidingElement>
  <ion-item>
    <ion-label class="ion-text-center">{{weightEntry.date | date}}</ion-label>
    <ion-label class="ion-text-center">{{weightEntry.weight |number: '1.2-2'}} kg</ion-label>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="primary" (click)="onEdit(slidingElement)">
      <ion-icon name="create-outline" slot="icon-only"></ion-icon>
    </ion-item-option>
    <ion-item-option color="danger" (click)="onDelete(slidingElement)">
      <ion-icon name="trash" slot="icon-only"></ion-icon>
    </ion-item-option>
  </ion-item-options>

</ion-item-sliding>
