<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Add Weight Entry</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="saveOrUpdate()" [disabled]="!form || form.invalid">
        <ion-icon name="save-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="10" offset-sm="1" size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">
          <ion-card>
            <ion-item [disabled]="isLoading$ | async">
              <ion-icon name="scale-outline" slot="start"></ion-icon>
              <ion-input type="number" class="ion-text-center" formControlName="weight"></ion-input>
              <ion-label slot="end">kg</ion-label>
            </ion-item>
            <ion-item [disabled]="isLoading$ | async">
              <ion-icon name="calendar-outline" slot="start"></ion-icon>
              <ion-label></ion-label>
              <ion-datetime displayFormat="YYYY-MM-DD" formControlName="date"></ion-datetime>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="ion-text-center" *ngIf="isLoading$ | async">
        <ion-col>
          <ion-spinner name="bubbles" color="primary"></ion-spinner>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
