<ion-virtual-scroll [items]="weightEntries" approxItemHeight="50px">
  <app-weight-entry-list-item *virtualItem="let weightEntry" [weightEntry]="weightEntry">
  </app-weight-entry-list-item>
</ion-virtual-scroll>
