<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Weight Tracker</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/weight-entries', 'add']">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid *ngIf="isLoading$ | async">
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-spinner name="bubbles" color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!(isLoading$ | async)">
    <ion-row *ngIf="error$ | async">
      <ion-col size-sm="10" offset-sm="1" size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">
        <ion-card color="danger">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Error!</ion-card-title>
            <ion-card-subtitle class="ion-text-center">{{ error$ | async }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="weightEntries.length > 0; else noWeightEntries">
      <ion-col size-sm="10" offset-sm="1" size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">
        <app-weight-entries-chart [weightEntries]="weightEntries"></app-weight-entries-chart>
      </ion-col>
    </ion-row>
    <ng-template #noWeightEntries>
      <ion-row *ngIf="!(error$ | async)">
        <ion-col size-sm="10" offset-sm="1" size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">No weight entries yet</ion-card-title>
              <ion-card-subtitle class="ion-text-center">Please add some to get started 😉</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-template>
    <ion-row>
      <ion-col size-sm="10" offset-sm="1" size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">
        <app-weight-entry-list [weightEntries]="weightEntries"></app-weight-entry-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
