<ion-app>
  <ion-menu side="start" contentId="main">
    <ion-content>
      <ion-list>
        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/weight-entries" routerLinkActive="active" routerDirection="root" detail="false">
            <ion-icon slot="start" name="barbell-outline"></ion-icon>
            <ion-label>Weight Tracker</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
